cdk.out
node_modules
.DS_Store
*.log
config.json
aws-landing-zone-configuration.zip
**/dist
.idea
.envrc
.vscode

# Ignore files built locally for mkdocs
# with the exception of legacy readme
# which points to the docs site.
docs/*
!readme.md
public

# Ignore python development files
venv

# bash
.swp
find