cdk.out
node_modules
pnpm-lock.yaml
.DS_Store
*.log
initial-setup/templates/accounts.json
initial-setup/templates/config.json
initial-setup/templates/outputs.json
initial-setup/templates/context.json
