name: Build
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  test:
    name: Test
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Use Node.js
        uses: actions/setup-node@v1
        with:
          node-version: 14
      - name: Cache Node.js modules
        uses: actions/cache@v1
        with:
          path: ~/.pnpm-store
          key: ${{ runner.OS }}-node-${{ hashFiles('**/package.json') }}
          restore-keys: |
            ${{ runner.OS }}-node-
            ${{ runner.OS }}-
      - name: Install Node.js modules
        run: |
          npm install -g pnpm@6.2.3
          pnpm install --unsafe-perm --frozen-lockfile
      - name: Fix nasty bug in CDK
        run: |
          # This fix is needed in order to run initial-setup/templates tests
          # Without the fix, SynthUtils.toCloudFormation fails
          find node_modules -name runtime-info.js -exec sed -i 's/mod.paths/(mod.paths || [])/g' {} \;
      - name: Build all workspaces
        run: |
          pnpm recursive run build -- --noEmit
      - name: Run tests in all workspaces
        run: |
          pnpm recursive run test -- --pass-with-no-tests --silent
