name: Linter and Prettier
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  typecheck:
    name: Typecheck
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Use Node.js
        uses: actions/setup-node@v1
        with:
          node-version: 18
      - name: Cache Node.js modules
        uses: actions/cache@v1
        with:
          path: ~/.pnpm-store
          key: ${{ runner.OS }}-node-${{ hashFiles('**/package.json') }}
          restore-keys: |
            ${{ runner.OS }}-node-
            ${{ runner.OS }}-
      - name: Install Node.js modules
        run: |
          npm install -g pnpm@8.9.0
          pnpm install --frozen-lockfile
      - name: Analyze TypeScript files
        run: |
          pnpm -w lint:typecheck
  linter:
    name: Linter
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Use Node.js
        uses: actions/setup-node@v1
        with:
          node-version: 18
      - name: Cache Node.js modules
        uses: actions/cache@v1
        with:
          path: ~/.pnpm-store
          key: ${{ runner.OS }}-node-${{ hashFiles('**/package.json') }}
          restore-keys: |
            ${{ runner.OS }}-node-
            ${{ runner.OS }}-
      - name: Install Node.js modules
        run: |
          npm install -g pnpm@8.9.0
          pnpm install --frozen-lockfile
      - name: Analyze TypeScript files
        run: |
          pnpm -w lint:eslint
  prettier:
    name: Prettier
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Use Node.js
        uses: actions/setup-node@v1
        with:
          node-version: 18
      - name: Install Prettier
        run: |
          npm install -g prettier@2.2.1
      - name: Analyze TypeScript files
        run: |
          prettier --check **/*.ts
